<div class="cover container">
    <div class="cover-content">

        {{#if @site.cover_image}}
        <div class="cover-image-placeholder u-placeholder square">
            <img class="cover-icon-image" src="{{@site.cover_image}}" alt="{{@site.title}}">
        </div>
        {{/if}}
        Welcome to Qubit Quants. The blogging platform to elevate your algorithmic and quantitative trading endeavours.
        {{#get "pages" filter="tags:hash-template+tags:hash-howdy" as |howdy|}}
            {{#foreach howdy}}
                <h2>{{title}}</h2>
                {{content}}
            {{/foreach}}
        {{/get}}

    </div>
</div>