<footer class="site-footer container">
    <div class="social">
        <a class="social-item social-item-twitter"
            href="{{twitter_url @site.twitter}}" target="_blank"
            rel="noopener noreferrer" aria-label="Twitter">
            <svg class="icon">
                <use xlink:href="#twitter-box"></use>
            </svg>
        </a>
        <a class="social-item social-item-linkedin"
            href="https://www.linkedin.com/in/alexpriest/" target="_blank"
            rel="noopener noreferrer" aria-label="LinkedIn">
            <svg class="icon">
                <use xlink:href="#linkedin"></use>
            </svg>
        </a>
        <a class="social-item social-item-rss"
            href="{{@site.url}}/rss/"
            target="_blank" rel="noopener noreferrer" aria-label="RSS">
            <svg class="icon">
                <use xlink:href="#rss-box"></use>
            </svg>
        </a>

    </div>

    <div class="copyright">
        Powered by <a href="https://ghost.org/" target="_blank"
            rel="noopener noreferrer">Ghost</a>, Analytics by <a href="https://usefathom.com/ref/H2YOWZ" target=_blank>Fathom</a>
    </div>

    <nav class="footer-nav">
        {{navigation type="secondary"}}
        <a class="menu-item js-theme" href="#" data-system="System theme" data-dark="Dark theme" data-light="Light theme">
            <svg class="icon theme-icon theme-icon-system">
                <use xlink:href="#circle-half-full"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-dark">
                <use xlink:href="#brightness-2"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-light">
                <use xlink:href="#white-balance-sunny"></use>
            </svg>
            <span class="theme-text">System theme</span>
        </a>
    </nav>

    <script>
        var links = document.querySelectorAll('a');
        for (var i = 0; i < links.length; i++) {
          if (links[i].hostname != window.location.hostname) {
            links[i].target = '_blank';
            links[i].rel = 'noopener';
          }
        }
    </script>

</footer>