.popular-wrapper {
    padding: 2rem 1.5rem 1.5rem;
}

.popular-title {
    margin-bottom: 1rem;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: var(--font-base);
}

.popular-feed {
    display: flex;
    flex-wrap: wrap;
}

.popular {
    margin-right: 0.8rem;
    margin-bottom: 0.4rem;
    font-weight: 700;
}

.popular::before {
    content: "•";
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    color: var(--primary-text-color);
}
